.sudoku-table {
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;
}

.sudoku-table td {
  border: 1px solid black;
  width: 35px;
  height: 35px;
}

.i2, .i5 {
  border-bottom: 3px solid black !important;
}

.j2, .j5 {
  border-right: 3px solid black !important;
}

.sudoku-table input {
  width: 35px;
  height: 35px;
  border: 0px;
  text-align: center;
}

.not-editable input {
  font-weight: bold;
}

.has-conflict input {
  color: red;
}

/* Github corner */
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
